<h2>Result</h2>
<p><%= @start_time %></p>
<p>You answered in: <%= @total_time %> seconds!</p>
<% if !@real_word %>
<p>Sorry, but <strong><%= @word.upcase %></strong> does not seem to be a valid word</p>
<% elsif !@can_build %>
<p>Sorry, but <strong><%= @word.upcase %></strong> can't be built out of <%= @letters.join(', ') %></p>
<% else %>
<p><strong>Congratulations!</strong> <%= @word.upcase %> is a valid English word! Your score is: <strong><%= @score %></strong>. It ranks <b><%= @scores.find_index(@score) + 1 %></b> of <b><%= @scores.length %></b>!</p>
<% end %>

<table class="table table-striped table-bordered">
  <thead><tr><td><b>Place</b><td><b>Score</b></td></tr></thead>
<% @scores[0..4].each_with_index do |score, index| %>
  <tr><td><%= index + 1 %></td><td><%= score %></td></tr>
<% end %>
  <tr><td><b>TOTAL</b></td><td><b><%= @scores.sum %></b></td></tr>
</table>

<%= link_to "Play again", new_path %>
